@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(stream: Call, post: Call)(implicit req: RequestHeader)

@import helper._

@main("Chat Room") {

    <div class="log"></div>
    <input type="text" id="message" placeholder="Type here..."/>

    <script>
        var user = prompt("What would you like to be called?", "unknown");

        $("#message").keyup(function (e) {
            if (e.keyCode != 13) //if not enter don't send
                return
            else {
                console.log(e);

                var m = {message: this.value, user: user};
                var c = "@CSRF.getToken.value"
                this.value = "";
                $.ajax({
                    url: "@post.toString",
                    data: JSON.stringify(m),
                    method: "post",
                    contentType: "application/json",
                    beforeSend: function(xhr){xhr.setRequestHeader('Csrf-Token', c);}
                });
            }
        });

        var feed = new EventSource('@stream.absoluteURL()');
        feed.addEventListener("message", function (msg) {
            var m = JSON.parse(msg.data);
            $(".log").append("<div class='message'>" + m.user + ": " + m.message + "</div>");
        });
    </script>

}
